body {
    background-color: lightblue;
}

.balloon {
    position: absolute;
    bottom: 0px;

    height: 120px;
    width: 75px;
    border-radius: 50%;
}

.balloon1 {
    background-color: red;
    left: 100px;
}

.balloon2 {
    background-color: royalblue;
    left: 200px;
}

.balloon3 {
    background-color: yellow;
    left: 300px;
}